# fly.toml app configuration file generated for rastreamentoti-final on 2025-12-02T01:17:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rastreamentoti-final'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
