<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rastreamento TI{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Rastreamento TI</h1>
        {% if current_user.is_authenticated %}
            <p>Bem-vindo, {{ current_user.username }}!</p>
            <nav>
                <a href="{{ url_for('main.dashboard') }}">🏠 Dashboard</a>
                <a href="{{ url_for('main.cadastrar_usuario') }}">👥 Usuários</a>
                <a href="{{ url_for('auth.login') }}">➡️ Sair</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('auth.login') }}">Login</a>
            </nav>
        {% endif %}
    </header>

    <main>
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 VanessaRibe</p>
    </footer>
</body>
</html>
